= form_for @impress, html: {role: "form"} do |f|

  - if @impress.errors.any?
    #error_explanation
      %h2= "#{pluralize(@impress.errors.count, "error")} prohibited this impress from being saved:"
      %ul
        - @impress.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    -#= f.label :title
    = f.text_field :title, class: "form-control", placeholder: "title"
  .form-group
    -#= f.label :content
    = f.text_area :content, class: "form-control huge_content", placeholder: "content"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"
