= form_for @contact, html: {role: "form"} do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :title, class: "form-control", placeholder: "title"
  .form-group
    = f.text_area :content, class: "form-control huge_content", placeholder: "content"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
