%p#notice
  = notice
.row
  .col-md-11
    .gallery_title
      = @gallery.title
  .col-md-1.info_icon
    = link_to 'javascript:void(0)' do
      %span.glyphicon.glyphicon-info-sign
.gallery_description
  .row
    .col-md-12
      = @gallery.description
.mosaic
  - if @images.empty?
    .row
      .col-md-12.thumb
        No images
        %br
  - else
    - @images.each_with_index do |img, i|
      - if i % 3 == 0
        .row
      .col-md-4.thumb
        = link_to 'javascript:void(0)' do
          = image_tag img.file.url(:thumb), data: {id: "#{img.id}"}, class: 'gallery_thumb'
.carousel_wrapper
  .row
    .col-md-12
      #gallery_carousel.carousel{data: {ride: 'carousel'}}
        .carousel-exit
          = link_to 'javascript:void(0)' do
            %span.glyphicon.glyphicon-remove-circle
        %ol.carousel-indicators
          - i = 0
          - @images.each do |img|
            - class_activity = img == @images.first ? 'active' : ''
            %li.indicator{class: "#{class_activity}", id: "indicator_of_img_#{img.id}", data: {target: '#gallery_carousel', 'slide-to' => "#{i}"}}
            - i += 1
        .carousel-inner
          - @images.each do |img|
            - activity = img == @images.first ? 'active' : ''
            .item{class: "#{activity}", id: "wrapper_of_img_#{img.id}"}
              = image_tag img.file.url(:medium)
              .carousel-caption
                = img.name
        = link_to '#gallery_carousel', role: 'button', data: {slide: 'prev'}, class: 'left carousel-control' do
          %span.glyphicon.glyphicon-chevron-left
        = link_to '#gallery_carousel', role: 'button', data: {slide: 'next'}, class: 'right carousel-control' do
          %span.glyphicon.glyphicon-chevron-right
%br
.row
  .col-md-12.thumb
    = link_to 'Back', galleries_path
    - if user_signed_in?
      \|
      = link_to 'Edit', edit_gallery_path(@gallery)
      \|
      = link_to 'New Image', new_image_path
