%p#notice
  = notice
.row
  .col-md-11
    .gallery_title
      = @gallery.title
  .col-md-1.info_icon
    = link_to 'javascript:void(0)' do
      %span.glyphicon.glyphicon-info-sign
.gallery_description
  .row
    .col-md-12
      = @gallery.description
.mosaic
  - if @images.empty?
    .row
      .col-md-12.thumb
        No images
        %br
  - else
    - @images.each_with_index do |img, i|
      - if i % 3 == 0
        .row
      .col-md-4.thumb
        = link_to 'javascript:void(0)', data: {toggle: 'tooltip', placement: 'right'}, title: "#{img.name}", id: 'image_thumb' do
          .thumbnail
            - if user_signed_in?
              .image_thumbnail_edit
              .thumbnail_icons
                = link_to edit_image_path(img) do
                  %span{class: 'glyphicon glyphicon-edit'}
                = link_to img, method: :delete, data: { confirm: 'Are you sure? This will delete image from all galleries!' } do
                  %span{class: 'glyphicon glyphicon-trash'}
            = link_to 'javascript:void(0)', data: {toggle: 'tooltip', placement: 'right'}, title: "#{img.name}", id: 'image_thumb' do
              = image_tag img.file.url(:thumb), data: {id: "#{img.id}"}, class: 'gallery_thumb img_responsive'
%br
.row
  .col-md-12.thumb
    = link_to 'Back', galleries_path
    - if user_signed_in?
      \|
      = link_to 'Edit', edit_gallery_path(@gallery)
      \|
      = link_to 'New Image', new_image_path
