!!! 5
- html_tag class: 'no-js' do
  = render 'head'
  %body{ class: "#{ controller.controller_name }" }
    = render 'chromeframe'
    = render 'flashes'
    - if intro?
      .container-fluid
        .row.intro_top
        .row.intro_content
          .intro.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
            = yield
        .row.intro_bottom
    - else
      .container#container
        - if cookies[:locale].present?
          = cookies[:locale][:value]
        .top-panel= render 'panel'
        .logo
        .nav= render 'navigation'
        .content= yield
      .main_gallery= render 'main_gallery'
      .showreel= render 'showreel'
      = render 'footer'
    = render 'javascripts'
